@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    position: relative;
    overflow-x: hidden;
}
/* 넘기기 버튼 슬라이드 버튼 */
.next-btn:hover {
    cursor: pointer;
}
.next-btn {
    width: 65px;
    height: 65px;
}
.next-btn img {
    width: 100%;
    height: 100%;
}
.prev-btn:hover {
    cursor: pointer;
}

/* top5 넘기기 버튼 */
.ranking-top-5 .next-btn {
    position: absolute;
    left: 1738px;
    top: 1255px;
}

.ranking-top-5 .prev-btn {
    transform: scaleX(-1);
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    top: 930px;
    left: 130px;
}

/* 서점별 베스트셀러 넘기기 버튼 */
.bookstore-best .next-btn {
    position: absolute;
    left: 1738px;
    top: 2125px;
}

/* 리콤의 000님 취향저격 추천 */
.member-type .next-btn {
    position: absolute;
    margin-top: -370px;
    left: 1585px;
}

/* 좋아요 많이 받은 책 */
.best-good .next-btn {
    position: absolute;
    margin-top: -280px;
    left: 1320px;
}

/* 마음에 드는 모음집 하나는 있겠지 */
.guess-you-want .next-btn {
    position: absolute;
    margin-top: -280px;
    left: 1320px;
}

body > div.best-commend > div:nth-child(3) {
    position: absolute;
    margin-top: -660px;
    left: 1320px;
}

body > div.best-commend > div:nth-child(4) {
    position: absolute;
    margin-top: -270px;
    left: 1320px;
}

/* 배너 -> 옆으로 넘어가는 모션인가? 그럼 나중에 js 추가 */
.slide-container {
    width: 100%;
}

.banner:nth-child(1){
    width: 100%;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

body > div:nth-child(2) > div > div.slide {
    height: 100%;
    display: flex;
    position: absolute;
    left: 0; top: 0;
}

.banner-item {
    width: 100%; height: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center; align-items: center;
}

.banner-item img{
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
}

.banner-arrow {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 80.5%;
    left: 86%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    color: #fff;
}

.banner-arrow img {
    width: 8px;
    height: 16px;
}

.banner-arrow img:hover {
    cursor: pointer;
}

/* 배너 페이징 */
.paging {
    margin-bottom: 5px;
}

.more:hover {
    cursor: pointer;
}

/* 리콤 랭킹 top 5 */
.ranking-top-5 {
    width: 1620px;
    height: 640px;
    margin: 110px 150px 95px 150px;
}

.title-area {
    display: flex;
    align-items: center;
}

.title-area .title {
    color: black;
    font-weight: 700;
    font-size: 48px;
    width: auto;
}

.more {
    color: #BC2638;
    font-weight: 500;
    font-size: 34px;
    margin-left: 30px;
    margin-top: 5px;
}

.title-area img {
    width: 10px;
    margin-left: 3px;
    margin-top: 9px;
}

/* 리콤 랭킹 탑 5 책 */
.grid-books {
    display: flex;
    position: relative;
    justify-content: space-between;
    /* margin: 20px 170px; */
    gap: 30px;
    overflow: hidden;
}

.books-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 50px 0px 150px 0;;
    gap: 30px;
    /* overflow: hidden; */
    transition: all ease 1s;
}

.grid-books-items {
    width: 300px;
    height: 395px;
}

/* 왕관 아이콘 */
.books .crown {
    position: absolute;
    width: 26px;
    height: 24px;
    margin-left: 22.32px;
    top: -13px;
    z-index: 99;
}

/* 하트 (찜) 아이콘 */
.books .heart {
    width: 26px;
    height: 24px;
    position: absolute;
    top: 351px;
    margin-left: 254px;
}

/* 찜 버튼 마우스 오버 */
.books .heart:hover {
    cursor: pointer;
}

.books .books-img {
    background-color: #D9D9D9;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
}

.books .books-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
}

/* 리콤 탑 랭킹 5 타이틀 */

/* .ranking-top-5 .grid-books .books-container {
    height: 460px;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 30px 170px;
} */

.title {
    width: 220px;
    font-weight: 700;
    font-size: 20px;
    padding: 7px 0;
    color: #1C1C1C;
    /* 제목이 넘칠 때 텍스트 말줄임표 */
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.author-pubyear {
    margin-bottom: 5px;
    font-size: 15px;
    color: rgba(73, 73, 73, 1);
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.stars {
    display: flex;
    align-items: center;
    color: #BC2638;
    font-size: 13px;
}

.stars img {
    width: 12px;
    height: 11px;
    margin-top: 5px;
    gap: 3px;
}

.stars-img {
    margin-left: 5px;
}

.bookstore-best {
    width: 1620px;
    height: 750px;
    margin: 95px 150px 95px 150px;
}

.bookstore {
    display: flex;
    margin: 23px 0px 35px 0;
    color: #fff;
    gap: 20px;
    font-size: 23px;
}

.store-btn {
    width: 95px;
    height: 49px;
    text-align: center;
    border-radius: 47px;
    padding: 5px 40px 6px 40px;
    cursor: pointer;
    font-weight: 500;
    font-size: 34px;
}

.aladdin {
    background-color: #D06773;
    color: rgba(255, 255, 255, 0.6);
}

.naver {
    background-color: #D06773;
    color: rgba(255, 255, 255, 0.6);
}

.daum {
    background-color: #D06773;
    color: rgba(255, 255, 255, 0.6);
}

.clicked {
    background-color: #BC2638;
    color: rgba(255, 255, 255, 1);
}


/* 리콤의 000님 취향저격 추천 */
.member-type {
    margin: 95px 150px 106px 150px;
    position: relative;
}

.member-type .grid-books {
    width: 1620px;
}

.member-type .prefer {
    position: absolute;
    display:inline-block;
    top: -20px;
    margin-left: 60px;
    padding: 4px 30px 0px 30px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 13px;
    color: #BC2638;
    text-align: center;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.member-type .book-title {
    margin-bottom: 20px;
}

.member-type .grid-books-items {
    background-color: #D9D9D9;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
}

.banner:nth-child(2) {
    width: 100%;
    height: 510px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slide:nth-child(1) {
    height: 100%;
    position: absolute;
    left: 0; top: 0;
}

.middle-banner img {
    width: 100%;
}

.middle-banner img {
    width: 100%;
}

.middle-paging {
    position: absolute;   
    top: 30px;
    left: 150px;
    font-weight: 500;
    font-size: 20px;
    color: #BC2638;
}

.middle-banner-arrow {
    position: absolute;
    top: -400px;
    width: 1920px;
}

.middle-banner-arrow .prev {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 260px;
    top: 793px;
}

.middle-banner-arrow .next {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 1595px;
    top: 793px;
}

.middle-banner-arrow .next:hover {
    cursor: pointer;
}

.middle-banner-arrow .prev:hover {
    cursor: pointer;
}


/* 좋아요 많이 받은 책 */
.best-good {
    margin-bottom: 90px;
}

.best-good .grid-books {
    height: 460px;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 30px 170px;
    /* gap: 15px; */
}

.best-good .grid-books-items {
    width: 276px;
    background: #FFFFFE;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 13px;
    display: grid;
    justify-content: center;
}

.books-simple-title p {
    text-align: center;
    margin: 17px;
    font-size: 18px;
    color:rgba(188, 38, 56, 1);
}

.best-good .books-img {
    margin-top: -17px;
    background: #D9D9D9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

.best-good .books-title .title {
    /* 제목이 넘칠 때 텍스트 말줄임표 */
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

/* 마음에 드는 모음집 하나는 있겠지 */
.guess-you-want {
    margin: 90px 0;
}

.guess-you-want .grid-books {
    height: 460px;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 30px 170px;
    /* gap: 15px; */
}

.guess-you-want .grid-books-items {
    width: 276px;
    border-radius: 13px;
    display: grid;
    justify-content: center;
    background: #F4F4F4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    align-items: center;
}

.guess-you-want .books {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 357px;
    margin: -8px 0 0 6px;
}

.guess-you-want .books-img {
    width: 125px;
    height: 48%;
    margin: 3px;
}

.guess-you-want .books-img:nth-child(1) {
    border-radius: 15px 0 0 0;
}

.guess-you-want .books-img:nth-child(2) {
    border-radius: 0 15px 0 0;
}

.guess-you-want .books-img:nth-child(3) {
    border-radius: 0 0 0 15px;
}

.guess-you-want .books-img:nth-child(4) {
    border-radius: 0 0 15px 0;
}

.guess-you-want .books-comment {
    text-align: center;
    width: 100%;
    height: 60px;
}

.guess-you-want .books-comment .title {
    width: 100%;
    margin: -12px 0 0 0;
    padding: 0;
    color: rgba(28, 28, 28, 1);
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #1C1C1C;
}

.guess-you-want .tag {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16.5px;
    line-height: 18px;
    color: #777777;
}

/* 리콤이 추천하는 이달의 신작 */
.recome-recommend {
    margin: 90px 0;
}

.recome-recommend .recome {
    height: 460px;
    justify-content: space-between;
    margin: 30px 170px;
}

/* 1순위 */
.first-recome {
    display: flex;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 13px;
}

.first-recome .num {
    width: 150px;
    height: 100%;
    text-align: center;
    line-height: 350px;
    font-size: 40px;
    font-weight: 700;
}

.first-recome .books-img {
    width: 220px;
    height: 280px;
    background: #D9D9D9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.first-recome .books-info {
    width: 70%;
    height: 280px;
    margin: 20px 40px 0 40px;
}

.first-recome .books-info .title{
    font-weight: 700;
    font-size: 32px;
}

.first-recome .books-info .withstar{
    display: flex;
}

.first-recome .books-info .author-pubyear {
    font-size: 21px;
    font-weight: 500;
}

.first-recome .books-info .stars {
    margin: 0 0 3px 10px;
}

.first-recome .books-info .comment {
    margin-top: 10px;
    color: rgba(164, 164, 164, 1);
    font-weight: 500;
    font-size: 16px;
}

/* 나머지 */
.remain-recome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 300px;
    margin-top: 30px;
    column-gap: 15px;
    row-gap: 15px;
}

.recome-items {
    background: #FFFFFE;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 13px;
}

.recome-items {
    display: flex;
}

.recome-items .num {
    width: 70px;
    height: 100%;
    line-height: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.recome-items .books-img {
    width: 90px;
    height: 120px;
    margin-top: 15px;
    background: #D9D9D9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}

.recome-items .books-info {
    margin: 25px 20px 0 20px;
}

.recome-items .stars p {
    font-size: 14px;
}

.best-commend {
    margin-top: 350px;
    margin-bottom: 200px;
}

.best-commend .commend-grid {
    display: grid;
    margin: 30px 170px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 440px;
    column-gap: 30px;
    row-gap: 30px;
}

.best-commend .commend-items {
    background: #FBFBFB;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 13px;
}

.best-commend .commend-items .f-block {
    display: grid;
    grid-template-columns: 171px 1fr;
}

.best-commend .commend-items .comment {
    font-size: 15px;
    font-weight: 500px;
    color: rgba(119, 119, 119, 1);
    /* 제목이 넘칠 때 텍스트 말줄임표 */
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: wrap;
}

.best-commend .commend-items .books-img {
    height: 180px;
    background: #D1D1D1;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 13px;
    margin: 20px;
}

.best-commend .commend-items .books-info {
    margin: 12px 30px 0 10px;
}

body > div.best-commend > div.commend-grid > div:nth-child(1) > div.f-block > div.books-info > div.comment {
    margin-right: 50px;
}

body > div.best-commend > div.commend-grid > div:nth-child(2) > div.f-block > div.books-info > div.comment {
    margin-right: 50px;
}

.best-commend .commend-items .s-block {
    display: flex;
    height: 60px;
    justify-content: space-between;
    background: #F4F4F4;
    border-top: 1px solid #D1D1D1;
    border-radius: 0px 0px 13px 13px;
    padding: 0 23px;
    align-items: center;
    margin-top: 10px;
}

.best-commend .s-block .icon {
    margin-right: 10px;
}

.best-commend .s-block .icon img {
    width: 23px;
    height: 25px;
}

.best-commend .s-block .member {
    display: flex;
    color: rgba(119, 119, 119, 1);
    font-size: 13px;
    line-height: 25px;
}

.best-commend .s-block .member-name {
    display: flex;
}

.best-commend .s-block .member-name p {
    font-size: 16px;
    letter-spacing: 5;
}

.best-commend .heart img:hover {
    cursor: pointer;
}

/* 배너 */
.final-banner {
    width: 100%;
    height: 330px;
    background: #D9D9D9;
}