body {
  background-position: 50% -10%;
  background-image: url(/images/banner/banner-1.png);
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  background-size: cover;
}

#book-detail {
  background-color: #fff;
}

.banner img {
  width: 100%;
  height: 200%;
}

.back {
  width: 100%;
  background-color: #fff;
}

.cover {
  width: 529px;
  height: 747px;
  margin-top: 122px;
}

.book-profile {
  width: 1620px;
  height: 700px;
  margin: 310px auto 10px auto;
  display: flex;
  background-color: #fff;
}

.book-profile img:nth-child(1) {
  border-radius: 10px;
  margin-top: -122px;
  width: 529px;
  height: 747px;
}

.book-profile .profile {
  margin-left: 30px;
  margin-top: 20px;
}

.book-profile .title {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}

.book-profile .info1 {
  display: flex;
  gap: 20px;
  margin: 7px;
  height: 29px;
  color: rgba(119, 119, 119, 1);
  align-items: center;
}

.book-profile .info1 .author,
.pub,
.pubyear {
  border-right: 2px solid #777777;
  padding-right: 10px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #777777;
}

.book-profile .info2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 140px;
  margin-top: 20px;
  border: 0.1px solid rgba(232, 232, 232, 1);
  border-left: none;
  border-right: none;
}

.book-profile .info2 .star {
  display: block;
  border-right: 0.1px solid rgba(232, 232, 232, 1);
}

.book-profile .info2 .star-title {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.book-profile .star-img {
  margin: 10px 0 0 50px;
}

.book-profile .star-img img {
  width: 50px;
  height: 52px;
  margin-top: 5px;
}

.book-profile .info2 .grid-tag {
  margin-top: 50px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.book-profile .info2 .tag-item {
  background-color: #bc2638;
  border-radius: 6px;
  color: #fff;
  text-align-last: center;
}

.book-profile .summary-title {
  margin-top: 10px;
  font-size: 20px;
  color: rgba(73, 73, 73, 1);
}

.book-profile .summary-content {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #777777;
  margin-top: 5px;
  color: rgba(119, 119, 119, 1);
}

/* 독자들의 인상깊은 구절 */
.reader {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-top: -17px;
  padding-bottom: 550px;
}

.reader-impressive {
  width: 1620px;
  height: auto;
  margin: 0px auto 30px auto;
  background-color: #3f3f3f;
  background: #fbfbfb;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 30px 30px 60px 30px;
}

.reader-impressive .reader-nav {
  display: flex;
  margin-bottom: 40px;
}

.reader-impressive .reader-nav .write-btn {
  width: 179px;
  height: 40px;
  background-color: #bc2638;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding: 20px 40px;
}

.write-btn:hover {
  cursor: pointer;
}

.reader-impressive .reader-nav .title {
  width: 100%;
  height: 100px;
  color: black;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  display: flex;
}

body > div.reader-impressive > div.reader-nav > div.title {
  height: 80px;
}

.reader-impressive .reader-nav .more {
  color: #bc2638;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  margin-left: 25px;
  margin-top: 9px;
}

.reader-impressive .reader-nav img {
  width: 15px;
  height: 30px;
  margin-left: 5px;
  margin-top: 22px;
}

.reader-impressive .grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.reader-impressive .content {
  display: grid;
  grid-template-rows: 240px 1fr;
  background: #fbfbfb;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 13px;
}

.reader-impressive .content .top {
  color: rgba(28, 28, 28, 1);
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  overflow-x: hidden;
  word-break: break-all;
}

.top::-webkit-scrollbar {
  width: 1px;
}

.reader-impressive .content .top .comment {
  font-weight: 500;
  font-size: 24px;
  color: #777777;
  margin-top: 10px;
}

.reader-impressive .content .bottom {
  display: flex;
  height: 60px;
  justify-content: space-between;
  background: #f4f4f4;
  border-top: 1px solid #d1d1d1;
  border-radius: 0px 0px 13px 13px;
  align-items: center;
}

.reader-impressive .content .bottom .member {
  display: flex;
  color: rgba(119, 119, 119, 1);
  font-size: 13px;
  line-height: 25px;
  margin-left: 15px;
  margin-top: 10px;
}

.reader-impressive .content .bottom .member-name {
  display: flex;
  gap: 5px;
}

.reader-impressive .content .bottom .member-name p {
  font-size: 18px;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 3px;
}

.reader-impressive .content .bottom .heart {
  margin-right: 10px;
}

/* 리뷰 div */
.id {
  font-weight: 700;
  font-size: 24px;
  color: black;
}

/* 독자들의 인상깊은 구절들 넘기기 버튼 */
.reader-impressive .next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 1110px;
  left: 1330px;
}

/* 별점 스타일 수정 */
.rating_box {
  display: flex;
}

.rating {
  position: relative;
  color: #ddd;
  font-size: 50px;
  text-align: center;
  margin-left: 25%;
}

.rating input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.rating_star {
  width: 0;
  color: #bc2638;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

/* 리뷰 작성하기 모달창 */
#modal1 {
  display: none;
}

.title1 {
  position: absolute;
  width: 282px;
  height: 35px;
  left: 640px;
  top: 250px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.modal-overlay1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(28, 28, 28, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 99;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: rgba(28, 28, 28, 0.45);
}

.review-bg {
  position: absolute;
  width: 720px;
  height: 660px;
  left: 600px;
  top: 220px;

  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 13px;
}

.review-form {
  position: absolute;
  width: 640px;
  height: 425px;
  left: 640px;
  top: 305px;
}

input {
  width: 600px;
  padding: 20px 20px 400px 20px;
  overflow-y: scroll;
  background: #f4f4f4;
  border-radius: 14px;
  border: none;
}

.btns {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 305px;
  gap: 30px;
  height: 70px;
  left: 640px;
  top: 770px;
  font-size: 24px;
}

.cancel {
  width: 305px;
  height: 70px;
  left: 640px;
  top: 770px;
  background: #bc2638;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  border: 0px;
  color: #f4f4f4;
}

.post {
  width: 305px;
  height: 70px;
  left: 640px;
  top: 770px;
  background: #bc2638;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  border: 0px;
  color: #f4f4f4;
}

.cancel:hover {
  cursor: pointer;
}

.post:hover {
  cursor: pointer;
}
