@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

a:hover {
  cursor: pointer;
}

input {
  padding-left: 20px;
}

input::placeholder {
	font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #A4A4A4;
  padding-left: -20px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  
  background: rgba(28, 28, 28, 0.45);
}

#modal2 {
  display: none;
}

.modal-overlay2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(28, 28, 28, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 99;
}

/* .join{
  margin-left: 36%;
} */

.join-bg {
  position: absolute;
  width: 520px;
  height: 694px;
  left: 700px;
  top: 183px;

  background: #ffffff;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 13px;
}

.join-logo {
  position: absolute;
  width: 200px;
  height: 36px;
  left: 860px;
  top: 253px;
}

.join-logo img {
  width: 100%;
}

.join-txt {
  position: absolute;
  width: 89px;
  height: 35px;
  left: 928px;
  top: 333px;

  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  display: flex;
  align-items: center;

  color: #1c1c1c;
}

.join-form {
  position: absolute;
  width: 400px;
  height: 50px;
  left: 760px;
  top: 420px;
}

.row {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 0;
  background-color: #f4f4f4;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #a4a4a4;
}

.join-btn {
  position: absolute;
  width: 67px;
  height: 40px;
  left: 167px;
  top: 314px;
  background: #bc2638;
  border-radius: 50px;
  border: 0;
  color: #ffffff;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
}

.join-check {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1127px;
  top: 434px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.check-row {
  margin-bottom: 30px;
}
.login-hy {
  position: absolute;
  width: 209px;
  height: 23px;
  left: 865px;
  top: 804px;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  color: #494949;
}

a {
  color: #bc2638;
}
