.user-books {
  width: 1620px;
  height: 640px;
  margin: 110px 150px 95px 150px;
}

.user-books .user-title {
  display: flex;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #1c1c1c;
  padding-bottom: 50px;
}

.books-container .books {
  height: 425px;
}

.books-img {
  width: 100%;
  z-index: 100;
  position: relative;
}
.review{
  padding-top: 32px;
  margin-left: -7px;
  z-index: 99;
  position: relative;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
}
.next-btn:hover {
  cursor: pointer;
}
.next-btn {
  width: 65px;
  height: 65px;
}
.next-btn img {
  width: 100%;
  height: 100%;
}

.line-img1 {
  position: absolute;
  width: 1660px;
  height: 50px;
  background: #bc2638;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  top: 850px;
  left: 129px;
}

.rev-container {
  gap: 111px;
}

.recent-book .next-btn {
  position: absolute;
  left: 1784px;
  top: 635px;
}

.recent-title {
  display: flex;
  align-items: center;
}

.recent-book .recent-title img {
  display: flex;
  width: 33.99px;
  height: 24px;
  margin-top: 7px;
  margin-right: 10px;
}

.written-review .recent-title img {
  width: 23.94px;
  height: 24px;
  margin-top: 7px;
  margin-right: 10px;
}

.zzim-book .recent-title img {
  width: 26px;
  height: 24px;
  margin-top: 7px;
  margin-right: 10px;
}

.love-review .recent-title img {
  width: 21.9px;
  height: 32px;
  margin-top: 7px;
  margin-right: 10px;
}

.recent-title .title {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #bc2638;
}

/* 작성한 리뷰 */
.written-review .next-btn {
  position: absolute;
  left: 1777px;
  top: 1264px;
}

.line-img2 {
  position: absolute;
  width: 1660px;
  height: 50px;
  background: #bc2638;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  top: 1480px;
  left: 129px;
}

/* 작성한 리뷰 책  */
.written-review .grid-books-items {
  width: 740px;
  display: grid;
  grid-template-columns: 300px 440px;
}

.written-review .review-title {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  margin: 15px 162px 23px 30px;
}

.written-review .review {
  height: 281px;
  margin-top: 112px;
  background: #fbfbfb;
  border-radius: 0 13px 13px 0px;
}

.written-review .title {
  margin-right: -90px;
  font-weight: 700;
    font-size: 30px;
}

.written-review .stars {
  display: flex;
  width: 120px;
  height: 16px;
  margin-top: 14px;
}

.written-review .review-content {
  width: 380px;
  height: 160px;
  margin: 70px 30px 30px 30px;
  color: #777777;
  font-weight: 500;
}

.zzim-book {
  width: 1620px;
  height: 640px;
  margin: 0px 150px 95px 0px;
}

.zzim-book .next-btn {
  position: absolute;
  left: 1768px;
  top: 1905px;
}

.line-img3 {
  position: absolute;
  width: 1660px;
  height: 50px;
  background: #bc2638;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  top: 2110px;
  left: 129px;
}

.line-img4 {
  position: absolute;
  width: 1660px;
  height: 50px;
  background: #bc2638;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  top: 2790px;
  left: 129px;
}

.love-review {
  width: 1620px;
  height: 640px;
  margin: -50px 150px 95px 0px;
}

/* 작성한 리뷰 책  */
.love-review .grid-books-items {
  width: 740px;
  display: grid;
  grid-template-columns: 300px 440px;
}

.love-review .review-title {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  margin: 15px 162px 23px 30px;
}

.love-review .review {
  height: 281px;
  margin-top: 112px;
  background: #fbfbfb;
  border-radius: 0 13px 13px 0px;
}

.love-review .title {
  margin-right: -90px;
}

.love-review .stars {
  display: flex;
  width: 120px;
  height: 16px;
  margin-top: 14px;
}

.love-review .review-content {
  width: 380px;
  height: 160px;
  margin: 70px 30px 30px 30px;
}

.love-review .next-btn {
  position: absolute;
  left: 1759px;
  top: 2586px;
}
