<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login-style.css">
    <link rel="stylesheet" href="/stylesheets/join-style.css">
    <title>RE;COMM</title>
</head>

  <body>
    <!-- 리콤 웹 메인 페이지 -->

    <!-- 내비게이션바 -->
    <div class="nav">
        <!-- 왼쪽 로고 -->
        <div class="left">
            <a href="#">
                <div class="icon"><img src="/images/logo-logo.png" alt=""></div>
        </div>
        <!-- 오른쪽 주요 아이콘 -->
        <div class="right">
            <a href="/search">
                <div class="search"><img src="/images/logo-search.png" alt=""></div>
            </a>
            <div class="books"><img src="/images/logo-books.png" alt=""></div>
            <div class="log-in" onclick="openLogin()">로그인</div>
            <div class="join" onclick="openJoin()">회원가입</div>
            <div class="user" id="logout"><img src="/images/logo-user.png" alt=""></div>
        </div>
    </div>

    <!-- 웹 배너 -->
    <!-- 배너 3컷 각각의 상세 페이지 -->
    <div class="slide-container">
        <div class="banner">
            <div class="slide">
                <div class="banner-item">
                    <img src="/images/banner/banner-1.png" alt="">
                </div>
                <div class="banner-item">
                    <img src="/images/banner/banner-2.png" alt="">
                </div>
                <div class="banner-item">
                    <img src="/images/banner/banner-3.png" alt="">
                </div>
            </div>
            <div class="banner-arrow">
                <img class="prev" src="/images/banner/banner-arrow-prev.png" alt="">
                <p class="paging">1 / 3</p>
                <img class="next" src="/images/banner/banner-arrow-next.png" alt="">
            </div>
        </div>
    </div>

    <!-- 모니터 크기별 위치 조절 필요한 부분  -->
    <!-- 리콤 랭킹 top 5 -->
    <!-- 리콤 랭킹 페이지 top50 페이지 이동 -->
    <div class="ranking-top-5">
        <div class="title-area">
            <p class="title">리콤 랭킹 top 30</p>
            <p class="more"><a href="/top50">더보기</a></p>
            <img src="/images/books-more.png" alt="">
        </div>
        <!-- api 끌어와서 넣을 부분 -->
        <div class="grid-books">
            <div class="books-container">
                <!-- API 삽입 -->
                <!-- <div class="grid-books-items">
                <div class="books">
                    <img class="crown" src="/images/books-crown.png" alt="">
                    <img class="heart" src="/images/books-heart-1.png" alt="">
                    <div class="books-img">
                        <img src="${img}" alt="">
                    </div>
                </div>
                <div class="books-title">
                    <div class="title">${title}</div>
                    <div class="author-pubyear">${pubDate}</div>
                    <div class="stars">
                        <p>평균 별점</p>
                        <div class="stars-img">
                            <img src="/images/books-star-1.png" alt="">
                            <img src="/images/books-star-1.png" alt="">
                            <img src="/images/books-star-1.png" alt="">
                            <img src="/images/books-star-2.png" alt="">
                            <img src="/images/books-star-2.png" alt="">
                        </div>
                    </div>
                </div>
              </div>`; -->
            </div>
        </div>


        <!-- <우> 넘기기 버튼 -->
        <div id="next-btn" class="next-btn">
            <img src="/images/next-btn.png" alt="">
        </div>
        <!-- <좌> 넘기기 버튼 -->
        <!-- <div id="prev-btn" class="prev-btn">
            <img src="/images/next-btn.png" alt="">
        </div> -->
    </div>

    <!-- 책 상세 페이지 -->
    <div class="book-detail"></div>

    <!-- 서점별 베스트 셀러 -->
    <!-- 버튼 -->
    <div class="bookstore-best" >
        <div class="title-area">
            <p class="title">서점 별 베스트 셀러</p>
            <p class="more">더보기</p>
            <img src="/images/books-more.png" alt="">
        </div>
        <!-- 서점 카테고리 -->
        <div class="bookstore">
            <div class="store-btn aladdin" id="aladin">알라딘</div>
            <div class="store-btn naver" id="naver">네이버</div>
            <div class="store-btn daum" id="daum">다음</div>
        </div>
        <!-- api 끌어와서 넣을 부분 -->
        <div class="grid-books">
            <div class="books-container">
                <!--<div class="grid-books-items">
                    <div class="books">
                        <img class="crown" src="/images/books-crown.png" alt="">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                        <div class="books-img">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books">
                        <img class="crown" src="/images/books-crown.png" alt="">
                        <img class="heart" src="/images/books-heart-2.png" alt="">
                        <div class="books-img">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목이 길어지면 줄임 ⋯</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books">
                        <img class="crown" src="/images/books-crown.png" alt="">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                        <div class="books-img">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books">
                        <img class="crown" src="/images/books-crown.png" alt="">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                        <div class="books-img">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books">
                        <img class="crown" src="/images/books-crown.png" alt="">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                        <div class="books-img">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="books-title">
                        <div class="title">누가 내 머리에 똥쌌어! 비하인드</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>

        <!-- 넘기기 버튼 -->
        <div id="next-btn" class="next-btn">
            <img src="/images/next-btn.png" alt="">
        </div>
    </div>

    <!-- 리콤의 000님 취향저격 추천 -->
    <!-- 선호하는 작가, 장르 페이지 이동 -->
    <!-- 버튼 -->
    <div class="member-type">
        <div class="title-area">
            <p class="title">리콤의 인서진님 취향저격 추천</p>
            <p class="more">더보기</p>
            <img src="/images/books-more.png" alt="">
        </div>
        <!-- api 끌어와서 넣을 부분 -->
        <div class="grid-books">
            <div class="books-container">
                <a href="/detail">
                    <div class="grid-books-items">
                        <div class="books">
                            <img class="heart" src="/images/books-heart-2.png" alt="">
                            <div class="books-img">
                                <!-- <img src="" alt=""> -->
                            </div>
                            <!-- 선호하는... 뭐시기 -->
                            <div class="prefer">#선호하는 작가</div>
                        </div>
                        <div class="books-title">
                            <div class="title">책 제목입니다.</div>
                            <div class="author-pubyear">작가 · 출판연도</div>
                            <div class="stars">
                                <p>평균 별점</p>
                                <div class="stars-img">
                                    <img src="/images/books-star-1.png" alt="">
                                    <img src="/images/books-star-1.png" alt="">
                                    <img src="/images/books-star-1.png" alt="">
                                    <img src="/images/books-star-2.png" alt="">
                                    <img src="/images/books-star-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="grid-books-items">
                    <div class="books">
                        <img class="heart" src="/images/books-heart-2.png" alt="">
                        <div class="books-img">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <!-- 선호하는... 뭐시기 -->
                        <div class="prefer">#선호하는 장르</div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목이 길어지면 줄임 ⋯</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                        <div class="books-img">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <!-- 선호하는... 뭐시기 -->
                        <div class="prefer">#선호하는 카테고리</div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                        <div class="books-img">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <!-- 선호하는... 뭐시기 -->
                        <div class="prefer">#선호하는 카테고리</div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                        <div class="books-img">
                            <!-- <img src="" alt=""> -->
                        </div>
                        <!-- 선호하는... 뭐시기 -->
                        <div class="prefer">#선호하는 카테고리</div>
                    </div>
                    <div class="books-title">
                        <div class="title">누가 내 머리에 똥쌌어! 비하인드</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 넘기기 버튼 -->
        <div id="next-btn" class="next-btn">
            <img src="/images/next-btn.png" alt="">
        </div>
    </div>

    <!-- 중간 배너 -->
    <!-- 배너 3컷 각각의 상세 페이지 -->
    <div class="slide-container">
        <div class="banner middle-banner">
            <div class="slide2">
                <div class="banner-item">
                    <img src="/images/middle-banner/banner-1.png" alt="">
                </div>
                <div class="banner-item">
                    <img src="/images/middle-banner/banner-2.png" alt="">
                </div>
                <div class="banner-item">
                    <img src="/images/middle-banner/banner-3.png" alt="">
                </div>
            </div>
            <p class="middle-paging paging">1 / 3</p>
            <div class="middle-banner-arrow">
                <img class="next" src="/images/middle-banner/banner-arrow-next.png" alt="">
                <img class="prev" src="/images/middle-banner/banner-arrow-prev.png" alt="">
            </div>
        </div>
    </div>

    <!-- 좋아요 많이 받은 책 -->
    <!-- 버튼 -->
    <div class="best-good">
        <div class="title-area">
            <p class="title">좋아요 많이 받은 책</p>
            <p class="more">더보기</p>
            <img src="/images/books-more.png" alt="">
        </div>
        <!-- api 끌어올 부분 -->
        <div class="grid-books">
            <div class="books-container">
                <div class="grid-books-items">
                    <div class="books-simple-title">
                        <p>따뜻한 가득<br /><b>장호연</b> 장편 소설</p>
                    </div>
                    <div class="books">
                        <div class="books-img"><!-- <img src="" alt=""> --></div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다.</div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books-simple-title">
                        <p>따뜻한 가득<br /><b>장호연</b> 장편 소설</p>
                    </div>
                    <div class="books">
                        <div class="books-img"><!-- <img src="" alt=""> --></div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다. 길어지면 줄임</div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books-simple-title">
                        <p>따뜻한 가득<br /><b>장호연</b> 장편 소설</p>
                    </div>
                    <div class="books">
                        <div class="books-img"><!-- <img src="" alt=""> --></div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다.</div>
                    </div>
                </div>
                <div class="grid-books-items">
                    <div class="books-simple-title">
                        <p>따뜻한 가득<br /><b>장호연</b> 장편 소설</p>
                    </div>
                    <div class="books">
                        <div class="books-img"><!-- <img src="" alt=""> --></div>
                    </div>
                    <div class="books-title">
                        <div class="title">책 제목입니다. 길어지면 줄임</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 넘기기 버튼 -->
        <div id="next-btn" class="next-btn">
            <img src="/images/next-btn.png" alt="">
        </div>
    </div>

    <!-- 마음에 드는 거 하나는 있겠지 -->
    <!-- 버튼 -->
    <div class="guess-you-want">
        <div class="title-area">
            <p class="title">마음에 모음집 하나는 있겠지</p>
            <p class="more">더보기</p>
            <img src="/images/books-more.png" alt="">
        </div>
        <!-- api 끌어올 부분 -->
        <div class="grid-books">
            <div class="books-container">

                <div class="grid-books-items">
                    <div class="books">
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/0/2/8/4/356750284s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/1/7/1/9/356751719s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/4/4/8/3/356744483s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/9/5/4/6/356749546s.jpg" alt=""></div>
                </div>
                <div class="books-comment">
                    <div class="title">비 오는 날 이 책 어때요?</div>
                    <div class="tag">
                        <div class="tag-type1">#설렘</div>
                        <div class="tag-type2">#감성</div>
                        <div class="tag-type3">#힐링</div>
                        <div class="tag-type4">#잔잔한</div>
                    </div>
                </div>
            </div>
            <div class="grid-books-items">
                <div class="books">
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/3/0/8/1/356753081s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/2/3/4/7/356752347s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/3/0/8/5/356753085s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/3/0/7/4/356753074s.jpg" alt=""></div>
                </div>
                <div class="books-comment">
                    <div class="title">비 오는 날 이 책 어때요?</div>
                    <div class="tag">
                        <div class="tag-type1">#설렘</div>
                        <div class="tag-type2">#감성</div>
                        <div class="tag-type3">#힐링</div>
                        <div class="tag-type4">#잔잔한</div>
                    </div>
                </div>
            </div>
            <div class="grid-books-items">
                <div class="books">
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/2/1/8/4/356752184s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/2/2/4/2/356752242s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/7/5/5/0/356747550s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/4/8/4/2/356744842s.jpg" alt=""></div>
                </div>
                <div class="books-comment">
                    <div class="title">비 오는 날 이 책 어때요?</div>
                    <div class="tag">
                        <div class="tag-type1">#설렘</div>
                        <div class="tag-type2">#감성</div>
                        <div class="tag-type3">#힐링</div>
                        <div class="tag-type4">#잔잔한</div>
                    </div>
                </div>
            </div>
            <div class="grid-books-items">
                <div class="books">
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/7/3/2/4/356717324s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/6/7/8/5/224676785s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/0/1/8/4/356720184s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/0/7/9/7/270010797s.jpg" alt=""></div>
                </div>
                <div class="books-comment">
                    <div class="title">비 오는 날 이 책 어때요?</div>
                    <div class="tag">
                        <div class="tag-type1">#설렘</div>
                        <div class="tag-type2">#감성</div>
                        <div class="tag-type3">#힐링</div>
                        <div class="tag-type4">#잔잔한</div>
                    </div>
                </div>
            </div>
            <div class="grid-books-items">
                <div class="books">
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/7/7/5/9/356487759h.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/2/2/8/3/356432283h.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/6/9/3/8/356256938h.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/8/2/3/1/274358231h.jpg" alt=""></div>
                </div>
                <div class="books-comment">
                    <div class="title">비 오는 날 이 책 어때요?</div>
                    <div class="tag">
                        <div class="tag-type1">#설렘</div>
                        <div class="tag-type2">#감성</div>
                        <div class="tag-type3">#힐링</div>
                        <div class="tag-type4">#잔잔한</div>
                    </div>
                </div>
            </div>
            <div class="grid-books-items">
                <div class="books">
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/5/5/2/4/356755524s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/9/2/6/3/356749263s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/4/8/3/1/356754831s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/2/2/1/9/356712219s.jpg" alt=""></div>
                </div>
                <div class="books-comment">
                    <div class="title">비 오는 날 이 책 어때요?</div>
                    <div class="tag">
                        <div class="tag-type1">#설렘</div>
                        <div class="tag-type2">#감성</div>
                        <div class="tag-type3">#힐링</div>
                        <div class="tag-type4">#잔잔한</div>
                    </div>
                </div>
            </div>
            <div class="grid-books-items">
                <div class="books">
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/0/6/6/7/355590667s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/7/0/2/9/267467029s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/3/4/4/4/293444s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/6/8/8/6/352626886s.jpg" alt=""></div>
                </div>
                <div class="books-comment">
                    <div class="title">비 오는 날 이 책 어때요?</div>
                    <div class="tag">
                        <div class="tag-type1">#설렘</div>
                        <div class="tag-type2">#감성</div>
                        <div class="tag-type3">#힐링</div>
                        <div class="tag-type4">#잔잔한</div>
                    </div>
                </div>
            </div>
            <div class="grid-books-items">
                <div class="books">
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/5/7/9/2/354505792s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/2/3/2/6/356522326s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/0/9/6/9/350530969s.jpg" alt=""></div>
                    <div class="books-img"><img src="https://qi-b.qoo10cdn.com/partner/goods_image/7/8/4/4/237887844s.jpg" alt=""></div>
                </div>
                <div class="books-comment">
                    <div class="title">비 오는 날 이 책 어때요?</div>
                    <div class="tag">
                        <div class="tag-type1">#설렘</div>
                        <div class="tag-type2">#감성</div>
                        <div class="tag-type3">#힐링</div>
                        <div class="tag-type4">#잔잔한</div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- 넘기기 버튼 -->
        <div id="next-btn" class="next-btn">
            <img src="/images/next-btn.png" alt="">
        </div>
    </div>

    <!-- 리콤이 추천하는 이달의 신작 -->
    <div class="recome-recommend">
        <div class="title-area">
            <p class="title">리콤이 추천하는 이달의 신작</p>
            <p class="more">더보기</p>
            <img src="/images/books-more.png" alt="">
        </div>
        <!-- 1순위 추천 -->
        <div class="recome">
            <div class="first-recome">
                <div class="num">1</div>
                <div class="books-img"></div>
                <div class="books-info">
                    <div class="title">책 제목입니다.</div>
                    <div class="withstar">
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="comment">책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은
                        줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은
                        줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은
                        줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은 줄거리 책 소개 혹은
                        줄거리……</div>
                </div>
            </div>
            <!-- 나머지 추천들 -->
            <div class="remain-recome">
                <div class="recome-items">
                    <div class="num">2</div>
                    <div class="books-img"></div>
                    <div class="books-info">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recome-items">
                    <div class="num">3</div>
                    <div class="books-img"></div>
                    <div class="books-info">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recome-items">
                    <div class="num">4</div>
                    <div class="books-img"></div>
                    <div class="books-info">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recome-items">
                    <div class="num">5</div>
                    <div class="books-img"></div>
                    <div class="books-info">
                        <div class="title">책 제목입니다.</div>
                        <div class="author-pubyear">작가 · 출판연도</div>
                        <div class="stars">
                            <p>평균 별점</p>
                            <div class="stars-img">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-1.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                                <img src="/images/books-star-2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 좋아요 많이 받은 코멘트 -->
    <!-- 상세 페이지 이동  -->
    <!-- 버튼 -->
    <div class="best-commend">
        <div class="title-area">
            <p class="title">좋아요를 가장 많이 받은 코멘트</p>
            <p class="more">더보기</p>
            <img src="/images/books-more.png" alt="">
        </div>
        <div class="commend-grid">
            <div class="commend-items">
                <div class="f-block">
                    <div class="books-img"></div>
                    <div class="books-info">
                        <div class="title">불편한 편의점</div>
                        <div class="comment">너무 재미있고요 최고입니다 소설임에도 저를
                            울리게 하였습니다. 이런 책들은 시간이 지나
                            면 기억에 안남긴 하지만 읽을때는 잼있네요.</div>
                    </div>
                </div>
                <div class="s-block">
                    <div class="member">
                        <div class="icon">
                            <img src="/images/memeber-icon.png" alt="">
                        </div>
                        <div class="member-name">
                            <p>이**</p>님의 리뷰
                        </div>
                    </div>
                    <div class="heart">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="commend-items">
                <div class="f-block">
                    <div class="books-img"></div>
                    <div class="books-info">
                        <div class="title">불편한 편의점</div>
                        <div class="comment">너무 재미있고요 최고입니다 소설임에도 저를
                            울리게 하였습니다. 이런 책들은 시간이 지나
                            면 기억에 안남긴 하지만 읽을때는 잼있네요.</div>
                    </div>
                </div>
                <div class="s-block">
                    <div class="member">
                        <div class="icon">
                            <img src="/images/memeber-icon.png" alt="">
                        </div>
                        <div class="member-name">
                            <p>이**</p>님의 리뷰
                        </div>
                    </div>
                    <div class="heart">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="commend-items">
                <div class="f-block">
                    <div class="books-img"></div>
                    <div class="books-info">
                        <div class="title">불편한 편의점</div>
                        <div class="comment">너무 재미있고요 최고입니다 소설임에도 저를 울리게 하였습니다. 이런 책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무
                            재미있고요 최고입니다 소설임에도 저를 울리게 하였습니다. 이런 책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다 소설임에도
                            저를 울리게 하였습니다. 이런 책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다 소설임에도 저를 울리게 하였습니다. 이런
                            책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다. 소설임에도 저를 울리게 하였습니다. 이런 책들은 시간이 지나면 기억에기억에
                            안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다최고입니다최고입니다최고입니다최고입니다최고입니다최고입니다최고입니다 소설임에도 저를 울리게 하였습니다. 이런
                            책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다 소설임에도……</div>
                    </div>
                </div>
                <div class="s-block">
                    <div class="member">
                        <div class="icon">
                            <img src="/images/memeber-icon.png" alt="">
                        </div>
                        <div class="member-name">
                            <p>이**</p>님의 리뷰
                        </div>
                    </div>
                    <div class="heart">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="commend-items">
                <div class="f-block">
                    <div class="books-img"></div>
                    <div class="books-info">
                        <div class="title">불편한 편의점</div>
                        <div class="comment">너무 재미있고요 최고입니다 소설임에도 저를 울리게 하였습니다. 이런 책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무
                            재미있고요 최고입니다 소설임에도 저를 울리게 하였습니다. 이런 책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다 소설임에도
                            저를 울리게 하였습니다. 이런 책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다 소설임에도 저를 울리게 하였습니다. 이런
                            책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다. 소설임에도 저를 울리게 하였습니다. 이런 책들은 시간이 지나면 기억에기억에
                            안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다최고입니다최고입니다최고입니다최고입니다최고입니다최고입니다최고입니다 소설임에도 저를 울리게 하였습니다. 이런
                            책들은 시간이 지나면 기억에 안남긴 하지만 읽을때는 잼있네요. 너무 재미있고요 최고입니다 소설임에도……</div>
                    </div>
                </div>
                <div class="s-block">
                    <div class="member">
                        <div class="icon">
                            <img src="/images/memeber-icon.png" alt="">
                        </div>
                        <div class="member-name">
                            <p>이**</p>님의 리뷰
                        </div>
                    </div>
                    <div class="heart">
                        <img class="heart" src="/images/books-heart-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- 넘기기 버튼 -->
        <div id="next-btn" class="next-btn">
            <img src="/images/next-btn.png" alt="">
        </div>

        <!-- 넘기기 버튼 -->
        <div id="next-btn" class="next-btn">
            <img src="/images/next-btn.png" alt="">
        </div>
    </div>

    <!-- 마지막 배너 -->
    <div class="final-banner">

    </div>

    <!-- 로그인 창 -->
    <div id="modal1" class="modal-overlay1">
        <div class="login">
            <div class="login-bg"></div>
            <div class="login-logo">
                <img src="/images/login/login-logo.png" width="75%" />
            </div>
            <div class="login-txt">로그인</div>

            <form class="login-form">
                <input onchange="inputisEmpty()" class="row" type="email" maxlength="255" placeholder="이메일" id="signInEmail" />

                <input class="row" type="password" maxlength="255" placeholder="비밀번호" id="signInPassword" />

                <button class="login-btn" type="submit" id="signInButton">
                    로그인
                </button>
            </form>

            <div class="login-check">
                <div class="check check-row c1"><img src="/images/login/login-no-check.png" /></div>
                <div class="check check-row c2"><img src="/images/login/login-no-check.png" /></div>
            </div>

            <div class="forgot-hy">
                <a>비밀번호를 잊어버리셨나요?</a>
            </div>
            <div class="join-hy">
                회원이 아니신가요? &nbsp&nbsp<a class="toJoin">회원가입</a>
            </div>
        </div>
    </div>

    <!--회원가입 창-->
    <div id="modal2" class="modal-overlay2">
        <div class="join">
            <div class="join-bg"></div>
            <div class="join-logo">
                <img src="/images/login/login-logo.png" width="75%" />
            </div>
            <div class="join-txt">회원가입</div>

            <form class="join-form" name="frm">
                <input class="row" name="name" type="text" maxlength="255" placeholder="이름" id="signUpName" />

                <input class="row" name="email" type="email" maxlength="255" placeholder="이메일" id="signUpEmail" />

                <input class="row" name="pass" type="password" maxlength="255" placeholder="비밀번호(6자 이상)"
                    id="signUpPassword" />

                <input class="row" name="passcheck" type="password" maxlength="255" placeholder="비밀번호 확인"
                    id="reSignUpPassword" />

                <button class="join-btn" type="submit" id="signUpButton">확인</button>
            </form>

            <div class="join-check">
                <div class="check check-row c1"><img src="/images/login/login-no-check.png" /></div>
                <div class="check check-row c2"><img src="/images/login/login-no-check.png" /></div>
                <div class="check check-row c3"><img src="/images/login/login-no-check.png" /></div>
                <div class="check check-row c4"><img src="/images/login/login-no-check.png" /></div>
            </div>

            <div class="login-hy">
                이미 가입하셨나요? &nbsp&nbsp<a class="toLogin">로그인</a>
            </div>
        </div>
    </div>



    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/api.js"></script>
    <script src="/javascripts/slider.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>
    <script src="/javascripts/userNullTest.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>
    <script src="/javascripts/nav.js"></script>


    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>
    <script src="/javascripts/join.js"></script>
</body>
</html>
