<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/survey-style.css">
    <title>RE;COMM</title>
  </head>
  <div>
    <!-- 리콤 회원가입 취향 조사 -->

    <!-- 내비게이션바 -->
    <div class="nav">
      <!-- 왼쪽 로고 -->
      <div class="left">
          <a href="/">
              <div class="icon"><img src="/images/logo-logo.png" alt=""></div>
      </div>
      <!-- 오른쪽 주요 아이콘 -->
      <div class="right">
          <a href="/search">
              <div class="search"><img src="/images/logo-search.png" alt=""></div>
          </a>
          <a href="/my">
              <div class="books"><img src="/images/logo-books.png" alt=""></div>
          </a>
          <div class="log-in" onclick="openLogin()">로그인</div>
          <div class="join" onclick="openJoin()">회원가입</div>
          <div class="user" id="logout"><img src="/images/logo-user.png" alt=""></div>
      </div>
  </div>

 
      <!--이름 입력 받은거 잘 넣기  어라 여기 js 써야하나? 당연하지 나야-->
      <div class="sur-title">
        <div class="survey-txt1">
          <div id="surveyName"></div>
          <div class="img">
            <img src="/images/login/login-check.png" alt="">
          </div>
        </div>
        <div class="survey-txt2">리콤에게 알려주시면 맞춤서비스를 받을 수 있어요.</div>
      </div>
      

    <div class="category">
      <p class="title">책 카테고리</p>
      <div class="tag">
          <div class="survey-btn" id="surveyBtn">가정살림</div>
          <div class="survey-btn" id="surveyBtn">IT모바일</div>
          <div class="survey-btn" id="surveyBtn">에세이</div>
          <div class="survey-btn" id="surveyBtn">여행</div>
          <div class="survey-btn" id="surveyBtn">역사</div>
          <div class="survey-btn" id="surveyBtn">시리즈</div>
          <div class="survey-btn" id="surveyBtn">사회 정치</div>
          <div class="survey-btn" id="surveyBtn">유아/어린이</div>
          <div class="survey-btn" id="surveyBtn">인물</div>
          <div class="survey-btn" id="surveyBtn">소설/시/희곡</div>
          <div class="survey-btn" id="surveyBtn">잡지</div>
          <div class="survey-btn" id="surveyBtn">취미</div>
          <div class="survey-btn" id="surveyBtn">인문</div>
          <div class="survey-btn" id="surveyBtn">외국어 사전</div>
          <div class="survey-btn" id="surveyBtn">청소년</div>
          <div class="survey-btn" id="surveyBtn">스포츠/건강</div>
          <div class="survey-btn" id="surveyBtn">만화</div>
          <div class="survey-btn" id="surveyBtn">자연과학</div>
          <div class="survey-btn" id="surveyBtn">예술</div>
          <div class="survey-btn" id="surveyBtn">경제 경영</div>
          <div class="survey-btn" id="surveyBtn">종교</div>
          <div class="survey-btn" id="surveyBtn">국어사전</div>
          <div class="survey-btn" id="surveyBtn">참고서/교재</div>
          <div class="survey-btn" id="surveyBtn">음악</div>
      </div>
  </div>

  <a href="/">
    <div class="next-btn">
        <img src="/images/type-arrow.png" alt="">
    </div>
  </a>
  
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>
  <script src="/javascripts/nav.js"></script>

  <script src="/javascripts/survey.js" type="module"></script>
    <script src="/javascripts/event.js"></script>

    
  </body>
</html>
