<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/top50.css">
    <title>RE;COMM</title>
</head>
<body>
    <!-- 리콤 웹 메인 페이지 -->

    <!-- 내비게이션바 -->
    <div class="nav">
        <!-- 왼쪽 로고 -->
        <div class="left">
            <a href="/index"><div class="icon"><img src="/images/logo-logo.png" alt=""></div>
        </div>
        <!-- 오른쪽 주요 아이콘 -->
        <div class="right">
            <a href="/search">
                <div class="search"><img src="/images/logo-search.png" alt=""></div>
            </a>
            <div class="books"><img src="/images/logo-books.png" alt=""></div>
            <div class="log-in" onclick="openLogin()">로그인</div>
            <div class="join" onclick="openJoin()">회원가입</div>
            <div class="user" id="logout"><img src="/images/logo-user.png" alt=""></div>
        </div>
    </div>

    <!-- 리콤 top 30 [베스트셀러 최대 데이터 개수가 30개인지라... 30개로 수정합니다.]-->
    <div class="container">
        <p class="top50-title">리콤 top 30</p>
        <div class="grid-books">
            <!-- top 50 API -->
            <!-- <div class="grid-books-items">
                <div class="books">
                    <img class="crown" src="/images/books-crown.png" alt="">
                    <img class="heart" src="/images/books-heart-1.png" alt="">
                    <div class="books-img">
                        <img src="${img}" alt="">
                    </div>
                </div>
                <div class="books-title">
                    <div class="title">${title}</div>
                    <div class="author-pubyear">${pubDate}</div>
                    <div class="stars">
                        <p>평균 별점</p>
                        <div class="stars-img">
                            <img src="/images/books-star-1.png" alt="">
                            <img src="/images/books-star-1.png" alt="">
                            <img src="/images/books-star-1.png" alt="">
                            <img src="/images/books-star-2.png" alt="">
                            <img src="/images/books-star-2.png" alt="">
                        </div>
                    </div>
                </div>
              </div> -->
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>
    <script src="/javascripts/nav.js"></script>
    
    <script src="/javascripts/top50.js"></script>


</body>
</html>