@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.top50-title {
    display: flex;
    margin: 70px 150px 30px 150px;
    align-items: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    width: auto;
}
.grid-books {
    flex-wrap: wrap;
}

.books .heart {
    position: absolute;
    top: 260px;
    margin-left: 185px;
}

/* 찜 버튼 마우스 오버 */
.books .heart:hover {
    cursor: pointer;
} 